* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.timeline-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    aspect-ratio: 16/9;
    width: 100%;
    min-height: 650px;
    max-height: 100vh;
    position: relative;
}

.timeline-body-left {
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: flex-start;
    width: 50%;
    height: 100%;
    background-color: #FFF;
    min-height: 500px;
    position: relative;
}

.timeline-body-right {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 50%;
    height: 100%;
    background-color: #101010;
    min-height: 500px;
    position: relative;
}

.timeline-body-left-logo {
    padding: 20px 10px;
    display: flex;
    gap: 10px;
    align-items: center;
}

.big-couch {
    position: absolute;
    top: 0px;
    left: calc(50% - 75px);
}

.small-couch {
    position: absolute;
    top: 90px;
    right: 10px;
}

.timeline-highlight-black-box {
    position: absolute;
    top: 70px;
    left: 0;
    width: 8px;
    height: 100px;
    background-color: #101010;
    z-index: 1;
}

.beggining-time-container {
    background-color: #4B4A4A;
    color: #E2E1E1;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 90px;
    right: calc(50% - 70px);
}

.beggining-time-container .timeline-time span {
    font-size: 1rem;
    font-weight: 700;
    /* -webkit-text-stroke: 1px black; Removed the stroke */
}

.beggining-time-container .timeline-title span {
    font-size: .8rem;
    font-weight: 800;
    /* -webkit-text-stroke: 1px black;     */
}

.mascot-right {
    position: absolute;
    top: 85px;
    left: 10px;
}

sup {
    font-size: .5em;
    vertical-align: super;
}

.day-one-time-container {
    position: absolute;
    color: #1A1A1A;
    background-color: transparent;
    top: 180px;
    right: calc(50%);
    line-height: 1;
}

.day-one-time-container .timeline-time span {
    font-size: 2rem;
    font-weight: 800;
}

.day-one-time-container .timeline-title span {
    font-size: 1rem;
    font-weight: 800;
}

.desk-large {
    position: absolute;
    top: 220px;
    right: 10px;
    z-index: 2;
}

.large-desk-sidepiece {
    position: absolute;
    top: 347px;
    left: 0px;
    z-index: 1;
    background-color: #D9D9D9;
    height: 67px;
    width: 40px;
    z-index: 4;
}

.monitor {
    position: absolute;
    top: 269px;
    right: 30px;
    z-index: 3;
    filter: drop-shadow(-5px 0px 10px #000);
}


.keyboard {
    position: absolute;
    top: 268px;
    right: 45px;
    z-index: 3;
}

.chair {
    position: absolute;
    top: 268px;
    right: 80px;
    z-index: 1;
}

.inner-ring {
    position: absolute;
    bottom: 0px;
    left: 0px;
}

.elimination-time-container {
    background-color: transparent;
    color: #3B3B3B;
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 80px;
    left: 40px;
    /* Rotate text with transform */
    transform: rotate(50deg);
    text-align: center;
    line-height: 1;
}

.elimination-time-container .timeline-time span {
    font-size: 1.5rem;
    font-weight: 800;
}

.elimination-time-container .timeline-title span {
    font-size: .9rem;
    font-weight: 800;
}

.check-mark {
    position: absolute;
    bottom: 155px;
    left: 25px;
    fill: #086700;
}

.cross-check {
    position: absolute;
    bottom: 10px;
    left: 150px;
    fill: #086700;
}

#circle_1 {
    position: absolute;
    bottom: 180px;
    left: 80px;
}

#circle_2 {
    position: absolute;
    bottom: 120px;
    left: 150px;
}

#circle_3 {
    position: absolute;
    bottom: 40px;
    left: 190px;
}

.fire-exit {
    position: absolute;
    bottom: 0;
    right: 100px;
}

.timeline-highlight-red-box {
    position: absolute;
    bottom: 0px;
    width: 100px;
    height: 8px;
    background-color: #6B0000;
    z-index: 5;
    right: calc(50% - 50px);
}

.result-time-container {
    position: absolute;
    bottom: 50px;
    right: calc(50% - 83px);
    z-index: 5;
    text-align: center;
    background: linear-gradient(to right, #000 47%, #FFF 47%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}

.result-time-container .timeline-date span {
    font-size: 2.5rem;
    font-weight: 900;
}

.result-time-container .timeline-time span {
    font-size: 1.5rem;
    font-weight: 800;
}

.result-time-container .timeline-title span {
    font-size: 1rem;
    font-weight: 800;
}

.timeline-body-right-logo {
    padding: 20px 10px;
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.podium {
    position: absolute;
    top: 50px;
    right: 100px;
}

.final-results-time-container {
    position: absolute;
    top: 120px;
    right: 90px;
    z-index: 5;
    text-align: center;
    color: #FFF;
    line-height: 1;
}

.final-results-time-container .timeline-time span {
    font-size: 1rem;
    font-weight: 800;
}

.final-results-time-container .timeline-title span {
    font-size: .8rem;
    font-weight: 800;
}

.day-three-time-container {
    position: absolute;
    color: #FFF;
    background-color: transparent;
    top: 50px;
    left: 50px;
    line-height: 1;
}

.day-three-time-container .timeline-time span {
    font-size: 2rem;
    font-weight: 800;
}

.day-three-time-container .timeline-title span {
    font-size: 1rem;
    font-weight: 800;
}

.cafetaria-table {
    position: absolute;
    top: 230px;
    left: 100px;
    z-index: 6;
}

#circular-chair_1 {
    position: absolute;
    top: 235px;
    left: 185px;
    z-index: 5;
}

#circular-chair_2 {
    position: absolute;
    top: 235px;
    left: 75px;
    z-index: 5;
}

#circular-chair_3 {
    position: absolute;
    top: 283px;
    left: 185px;
    z-index: 5;
}

#circular-chair_4 {
    position: absolute;
    top: 283px;
    left: 75px;
    z-index: 5;
}

.lunch-time-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 340px;
    left: 100px;
    color: #FFF;
    line-height: 1;
}

.lunch-time-container .timeline-time span {
    font-size: 1rem;
    font-weight: 800;
}

.lunch-time-container .timeline-title span {
    font-size: .8rem;
    font-weight: 800;
}

.circular-table {
    position: absolute;
    top: 330px;
    right: 115px;
    z-index: 6;
}

.projector {
    position: absolute;
    top: 355px;
    right: 145px;
    z-index: 6;
}

.projector-light {
    position: absolute;
    top: 282px;
    right: 30px;
    z-index: 7;
}

.projector-screen {
    position: absolute;
    top: 280px;
    right: 5px;
    z-index: 6;
}

.projector-screen-light {
    position: absolute;
    top: 280px;
    right: 15px;
    z-index: 7;
}

#chair-white_1 {
    position: absolute;
    top: 345px;
    right: 180px;
    z-index: 5;
    width: 50px;
}

#chair-white_2 {
    position: absolute;
    top: 400px;
    right: 135px;
    z-index: 5;
    width: 50px;
    transform: rotate(-60deg);
}

.presentation-time-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 360px;
    right: -20px;
    color: #FFF;
    line-height: 1;
    text-align: center;
    transform: rotate(90deg);
    z-index: 5;
}

.presentation-time-container .timeline-time span {
    font-size: 1rem;
    font-weight: 800;
}

.presentation-time-container .timeline-title span {
    font-size: .8rem;
    font-weight: 800;
}


.right-table-slab-vertical {
    position: absolute;
    bottom: 0px;
    right: 114px;
}

.right-table-slab-horizontal {
    position: absolute;
    bottom: 110px;
    right: 0px;
}

.reporting-time-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 120px;
    right: 30px;
    color: #3B3B3B;
    line-height: 1;
    text-align: center;
    z-index: 5;
}

.reporting-time-container .timeline-time span {
    font-size: 1rem;
    font-weight: 800;
}

.reporting-time-container .timeline-title span {
    font-size: .8rem;
    font-weight: 800;
}

.clock {
    position: absolute;
    bottom: 50px;
    right: 133px;
}