* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.timeline-container-parent {
    display: flex;
    flex-direction: row;
}

.timeline-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    aspect-ratio: 1/1;
    width: 800px;
    height: 800px;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.timeline-lanes {
    z-index: 2;
}

.timeline-body-left {
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: flex-start;
    width: 50%;
    height: 100%;
    background-color: #FFF;
    min-height: 500px;
    position: relative;
    z-index: 1;
}

.timeline-body-right {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 50%;
    height: 100%;
    background-color: #101010;
    min-height: 500px;
    position: relative;
    z-index: 1;
}

.timeline-body-left-logo {
    padding: 20px 10px;
    display: flex;
    gap: 10px;
    align-items: center;
    z-index: 3;
}

.big-couch {
    position: absolute;
    top: 0px;
    left: calc(50% - 75px);
    z-index: 3;
}

.small-couch {
    position: absolute;
    top: 90px;
    right: 10px;
    z-index: 3;
}

.timeline-highlight-black-box {
    position: absolute;
    top: 70px;
    left: 0;
    width: 5px;
    height: 100px;
    background-color: #101010;
    z-index: 3;
}

.beggining-time-container {
    background-color: #4B4A4A;
    color: #E2E1E1;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 90px;
    right: calc(50% - 70px);
    z-index: 3;
}

.beggining-time-container .timeline-time span {
    font-size: 1rem;
    font-weight: 700;
    /* -webkit-text-stroke: 1px black; Removed the stroke */
}

.beggining-time-container .timeline-title span {
    font-size: .8rem;
    font-weight: 800;
    /* -webkit-text-stroke: 1px black;     */
}

.mascot-right {
    position: absolute;
    top: 85px;
    left: 10px;
    z-index: 3;
}

sup {
    font-size: .5em;
    vertical-align: super;
    z-index: 3;
}

.day-one-time-container {
    position: absolute;
    color: #1A1A1A;
    background-color: transparent;
    top: 180px;
    right: calc(38%);
    line-height: 1;
    z-index: 3;
}

.day-one-time-container .timeline-time span {
    font-size: 2rem;
    font-weight: 800;
    z-index: 3;
}

.day-one-time-container .timeline-title span {
    font-size: 1rem;
    font-weight: 800;
}

.desk-large {
    position: absolute;
    top: 270px;
    right: 10px;
    z-index: 3;
    z-index: 3;
}

.large-desk-sidepiece {
    position: absolute;
    top: 397px;
    left: 0px;
    z-index: 1;
    background-color: #D9D9D9;
    height: 67px;
    width: 40px;
    z-index: 3;
}

.monitor {
    position: absolute;
    top: 319px;
    right: 30px;
    z-index: 4;
    filter: drop-shadow(-5px 0px 10px #000);
}


.keyboard {
    position: absolute;
    top: 318px;
    right: 45px;
    z-index: 4;
}

.chair {
    position: absolute;
    top: 318px;
    right: 80px;
    z-index: 3;
}

.inner-ring {
    position: absolute;
    bottom: -10px;
    left: -10px;
    z-index: 3;
}

.elimination-time-container {
    background-color: transparent;
    color: #3B3B3B;
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 75px;
    left: 30px;
    /* Rotate text with transform */
    transform: rotate(50deg);
    text-align: center;
    line-height: 1;
    z-index: 3;
}

.elimination-time-container .timeline-time span {
    font-size: 1.5rem;
    font-weight: 800;
}

.elimination-time-container .timeline-title span {
    font-size: .9rem;
    font-weight: 800;
}

.check-mark {
    position: absolute;
    bottom: 145px;
    left: 10px;
    fill: #086700;
    z-index: 3;
}

.cross-check {
    position: absolute;
    bottom: 5px;
    left: 135px;
    fill: #086700;
    z-index: 3;
}

#circle_1 {
    position: absolute;
    bottom: 170px;
    left: 70px;
    z-index: 3;
}

#circle_2 {
    position: absolute;
    bottom: 110px;
    left: 140px;
    z-index: 3;
}

#circle_3 {
    position: absolute;
    bottom: 30px;
    left: 180px;
    z-index: 3;
}

.fire-exit {
    position: absolute;
    bottom: 0;
    right: 80px;
    z-index: 3;
}

.timeline-highlight-red-box {
    position: absolute;
    bottom: 0px;
    width: 100px;
    height: 5px;
    background-color: #6B0000;
    right: calc(50% - 50px);
    z-index: 3;
}

.result-time-container {
    position: absolute;
    bottom: 50px;
    right: calc(50% - 83px);
    text-align: center;
    background: linear-gradient(to right, #000 47%, #FFF 47%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    z-index: 3;
}

.result-time-container .timeline-date span {
    font-size: 2.5rem;
    font-weight: 900;
}

.result-time-container .timeline-time span {
    font-size: 1.5rem;
    font-weight: 800;
}

.result-time-container .timeline-title span {
    font-size: 1rem;
    font-weight: 800;
}

.timeline-body-right-logo {
    padding: 20px 10px;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    z-index: 3;
}

.podium {
    position: absolute;
    top: 50px;
    right: 60px;
    z-index: 3;
}

.final-results-time-container {
    position: absolute;
    top: 120px;
    right: 50px;
    text-align: center;
    color: #FFF;
    line-height: 1;
    z-index: 3;
}

.final-results-time-container .timeline-time span {
    font-size: 1rem;
    font-weight: 800;
}

.final-results-time-container .timeline-title span {
    font-size: .8rem;
    font-weight: 800;
}

.day-three-time-container {
    position: absolute;
    color: #FFF;
    background-color: transparent;
    top: 30px;
    left: 30px;
    line-height: 1;
    z-index: 3;
}

.day-three-time-container .timeline-time span {
    font-size: 2rem;
    font-weight: 800;
}

.day-three-time-container .timeline-title span {
    font-size: 1rem;
    font-weight: 800;
}

.cafetaria-table {
    position: absolute;
    top: 230px;
    left: 50px;
    z-index: 4;
}

#circular-chair_1 {
    position: absolute;
    top: 235px;
    left: 135px;
    z-index: 3;
}

#circular-chair_2 {
    position: absolute;
    top: 235px;
    left: 25px;
    z-index: 3;
}

#circular-chair_3 {
    position: absolute;
    top: 283px;
    left: 135px;
    z-index: 3;
}

#circular-chair_4 {
    position: absolute;
    top: 283px;
    left: 25px;
    z-index: 3;
}

.lunch-time-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 340px;
    left: 50px;
    color: #FFF;
    line-height: 1;
    z-index: 3;
}

.lunch-time-container .timeline-time span {
    font-size: 1rem;
    font-weight: 800;
}

.lunch-time-container .timeline-title span {
    font-size: .8rem;
    font-weight: 800;
}

.circular-table {
    position: absolute;
    top: 420px;
    right: 115px;
    z-index: 4;
}

.projector {
    position: absolute;
    top: 445px;
    right: 145px;
    z-index: 6;
}

.projector-light {
    position: absolute;
    top: 372px;
    right: 30px;
    z-index: 5;
}

.projector-screen {
    position: absolute;
    top: 370px;
    right: 5px;
    z-index: 3;
}

.projector-screen-light {
    position: absolute;
    top: 370px;
    right: 15px;
    z-index: 3;
}

#chair-white_1 {
    position: absolute;
    top: 435px;
    right: 180px;
    z-index: 3;
    width: 50px;
}

#chair-white_2 {
    position: absolute;
    top: 490px;
    right: 135px;
    z-index: 3;
    width: 50px;
    transform: rotate(-60deg);
}

.presentation-time-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 450px;
    right: -20px;
    color: #FFF;
    line-height: 1;
    text-align: center;
    transform: rotate(90deg);
    z-index: 3;
}

.presentation-time-container .timeline-time span {
    font-size: 1rem;
    font-weight: 800;
}

.presentation-time-container .timeline-title span {
    font-size: .8rem;
    font-weight: 800;
}


.right-table-slab-vertical {
    position: absolute;
    bottom: 0px;
    right: 114px;
    z-index: 3;
}

.right-table-slab-horizontal {
    position: absolute;
    bottom: 110px;
    right: 0px;
    z-index: 3;
}

.reporting-time-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 120px;
    right: 30px;
    color: #3B3B3B;
    line-height: 1;
    text-align: center;
    z-index: 3;
}

.reporting-time-container .timeline-time span {
    font-size: 1rem;
    font-weight: 800;
}

.reporting-time-container .timeline-title span {
    font-size: .8rem;
    font-weight: 800;
}

.clock {
    position: absolute;
    bottom: 50px;
    right: 133px;
    z-index: 3;
}

.timeline-lane {
    position: absolute;
    background-color: transparent;
    z-index: 2;
}

#timeline-lane-1 {
    top: 130px;
    left: 45px;
    right: calc(100% - 100px);
    height: 0px;
    border-bottom: 2px dashed #F29EE9;
}

#timeline-lane-2 {
    top: 350px;
    bottom: 230px;
    left: 102px;
    right: calc(100% - 550px);
    border-left: 2px dashed #F29EE9;
    border-right: 2px dashed #F29EE9;
    border-bottom: 2px dashed #F29EE9;
    border-radius: 0 0 10px 10px;
}

#timeline-lane-3 {
    top: 570px;
    left: 282px;
    bottom: 0px;
    width: 0px;
    border-left: 2px dashed #C1DBDB;
}

#timeline-lane-4 {
    top: 145px;
    left: 102px;
    right: 0px;
    bottom: 450px;
    width: 0px;
    border-left: 2px dashed #F29EE9;
    border-top: 2px dashed #F29EE9;
    border-radius: 10px 0 0 0;
}

#timeline-lane-5 {
    top: 170px;
    bottom: 445px;
    right: 110px;
    left: 550px;
    border-right: 2px dashed #F29EE9;
    border-bottom: 2px dashed #F29EE9;
    border-radius: 0 0 10px 0;
}

.timeline-refrence-point {
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: #F29EE9;
    border-radius: 50%;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.timeline-refrence-point span {
    color: #000;
    font-size: .8rem;
    font-weight: 800;
}

#timeline-refrence-point-1 {
    top: 120px;
    left: 90px;
}

#timeline-refrence-point-2 {
    top: 420px;
    left: 90px;
}

#timeline-refrence-point-3 {
    top: 558px;
    left: 270px;
}

#timeline-refrence-point-4 {
    top: 558px;
    left: 470px;
}

#timeline-refrence-point-5 {
    top: 450px;
    right: 238px;
}

#timeline-refrence-point-6 {
    top: 342px;
    right: 238px;
}

#timeline-refrence-point-7 {
    top: 165px;
    right: 98px;
}